
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
supervisord.log
###< symfony/framework-bundle ###

###> frontend/symfony/framework-bundle ###
frontend/.env.local
frontend/.env.local.php
frontend/.env.*.local
frontend/config/secrets/prod/prod.decrypt.private.php
frontend/public/bundles/
frontend/var/
frontend/vendor/
frontend/supervisord.log
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
